In [1]:
import pandas as pd

# from pandasql import sqldf
df = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")

# Pandas

## Exercise 1
Using pandas
Retrieve from df dataframe the number of cases and deaths in South America Countries.  (Hint: Use groupby by continent and location)

In [2]:
# Add your solution here
# df[df[]].groupby()....
south_america = df[df['continent'] == 'South America']
south_america.groupby(['continent','location'])[['total_cases', 'total_deaths']].sum()

/var/folders/4n/dll6nv094h5fm4m2lhzkmtd40000gn/T/ipykernel_20232/2789704145.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  south_america.groupby(['continent','location'])['total_cases', 'total_deaths'].sum()

                                 total_cases  total_deaths
continent     location
South America Argentina         3.630807e+09    64630285.0
              Bolivia           3.749032e+08    11873269.0
              Brazil            1.395944e+10   347938328.0
              Chile             1.364413e+09    25528819.0
              Colombia          2.931022e+09    71862614.0
              Ecuador           3.765876e+08    19148633.0
              Falkland Islands  2.148250e+05           0.0
              Guyana            2.281292e+07      486959.0
              Paraguay          2.811758e+08     8329126.0
              Peru              1.627643e+09   126581537.0
              Suriname          2.772818e+07      525299.0
              Uruguay           2.952576e+08     3107275.0
              Venezuela         2.299990e+08     2547196.0

## Exercise 2
Using pandas

1.  Create a new column called "class_life_expectancy" and classify life_expectancy column in 5 values:
  - 1_less_than_55
  - 2_between_55_and_64
  - 3_between_65_and_74
  - 4_equal_greater_than_75
  - 5_other
2.  Get the sum of new_deaths grouped by class_life_expectancy

In [3]:
df['class_life_expectancy'] = "5_other"
df['class_life_expectancy'].head()

0    5_other
1    5_other
2    5_other
3    5_other
4    5_other
Name: class_life_expectancy, dtype: object

In [4]:
import numpy as np

bins = [0, 55, 65, 74, np.inf]
names = ['1_less_than_55', '2_between_55_and_64', '3_between_65_and_74', '4_equal_greater_than_75']
df['class_life_expectancy'] = pd.cut(df['life_expectancy'], bins, labels=names)

In [5]:
df['class_life_expectancy'] = df['class_life_expectancy'].astype('str')
df['class_life_expectancy'].replace("nan", "5_other", inplace = True) 
df.groupby(['class_life_expectancy'])['new_deaths'].sum()

class_life_expectancy
1_less_than_55                 4288.0
2_between_55_and_64          148723.0
3_between_65_and_74         7927356.0
4_equal_greater_than_75     4728607.0
5_other                    13948245.0
Name: new_deaths, dtype: float64

## Exercise 3 (Inventory Discrepancy)


- Remove dups
- Aggregate
- Merge 2 datasets

In [6]:
df_expected = pd.read_csv("https://storage.googleapis.com/mojix-devops-wildfire-bucket/analytics/bootcamp_2_0/Bootcamp_DataAnalysis_Expected.csv", encoding="latin-1")

In [7]:
df_expected.isna().sum()

Retail_Clearance                 0
Retail_InTransitQTY              0
Retail_Product_Color           314
Retail_Product_Dimension         0
Retail_Product_ExternalSKU       0
Retail_Product_ImageURL          0
Retail_Product_Level1            0
Retail_Product_Level1Name        0
Retail_Product_Level2            0
Retail_Product_Level2Name        0
Retail_Product_Level3            0
Retail_Product_Level3Name        0
Retail_Product_Level4            0
Retail_Product_Level4Name        0
Retail_Product_Level5            0
Retail_Product_Level5Name        0
Retail_Product_Manufacturer      0
Retail_Product_Name              0
Retail_Product_RFIDTagged        0
Retail_Product_SKU               0
Retail_Product_Size            314
Retail_Product_Style             0
Retail_Product_UOM               0
Retail_Product_UPC               0
Retail_Product_UPCs              0
Retail_SFMax                     0
Retail_SFMin                     0
Retail_SOHDate                   0
Retail_SOHQTY                    0
Retail_SOHQTY_SF                 0
Retail_SOHQTY_SR                 0
Retail_StoreInProcess            0
Retail_StoreNumber               0
serial                           0
thingTypeId                      0
dtype: int64

In [8]:
df_counted = pd.read_csv("https://storage.googleapis.com/mojix-devops-wildfire-bucket/analytics/bootcamp_2_0/Bootcamp_DataAnalysis_Counted.csv", encoding="latin-1")

In [9]:
df_counted.isna().sum()

RFID                            0
Retail_CycleCountDate           0
Retail_CycleCountDate_ts        0
Retail_Disposition              0
Retail_Product_Color         1216
Retail_Product_ImageURL      7924
Retail_Product_Level1         217
Retail_Product_Level1Name     217
Retail_Product_Level2        7924
Retail_Product_Level2Name     217
Retail_Product_Level3         291
Retail_Product_Level3Name     217
Retail_Product_Name           217
Retail_Product_SKU            217
Retail_Product_Size          1216
Retail_Product_Style          217
Retail_Product_UOM           7924
Retail_Product_UPC             10
Retail_StoreNumber              0
Retail_ZoneName                 0
Retail_ZoneType                 0
shardId                         0
viz_groupCode                7924
viz_groupId                     0
viz_id                          0
viz_serialNumber                0
viz_source                      0
viz_thingTypeCode               0
viz_time                        0
dtype: int64

In [10]:
df_counted['RFID'].isna().sum()

0

In [11]:
df_counted = df_counted.drop_duplicates("RFID")

In [12]:
retail_rfid = df_counted.groupby('Retail_Product_SKU', as_index=False)["RFID"].count().rename(columns={"RFID":"Retail_CCQTY"})
retail_rfid.head()

   Retail_Product_SKU  Retail_CCQTY
0        3.555270e+09             1
1        3.555270e+09             2
2        3.555270e+09             2
3        3.741470e+09             1
4        3.741470e+09             3

In [13]:
df_expected["Retail_Product_SKU"].nunique()

3187

In [14]:
df_expected.columns

Index(['Retail_Clearance', 'Retail_InTransitQTY', 'Retail_Product_Color',
       'Retail_Product_Dimension', 'Retail_Product_ExternalSKU',
       'Retail_Product_ImageURL', 'Retail_Product_Level1',
       'Retail_Product_Level1Name', 'Retail_Product_Level2',
       'Retail_Product_Level2Name', 'Retail_Product_Level3',
       'Retail_Product_Level3Name', 'Retail_Product_Level4',
       'Retail_Product_Level4Name', 'Retail_Product_Level5',
       'Retail_Product_Level5Name', 'Retail_Product_Manufacturer',
       'Retail_Product_Name', 'Retail_Product_RFIDTagged',
       'Retail_Product_SKU', 'Retail_Product_Size', 'Retail_Product_Style',
       'Retail_Product_UOM', 'Retail_Product_UPC', 'Retail_Product_UPCs',
       'Retail_SFMax', 'Retail_SFMin', 'Retail_SOHDate', 'Retail_SOHQTY',
       'Retail_SOHQTY_SF', 'Retail_SOHQTY_SR', 'Retail_StoreInProcess',
       'Retail_StoreNumber', 'serial', 'thingTypeId'],
      dtype='object')

In [15]:
columns = ["Retail_Product_Color",
"Retail_Product_Level1",
"Retail_Product_Level1Name",
"Retail_Product_Level2Name",
"Retail_Product_Level3Name",
"Retail_Product_Level4Name",
"Retail_Product_Name",
"Retail_Product_SKU",
"Retail_Product_Size",
"Retail_Product_Style",
"Retail_SOHQTY"]

In [16]:
df_expected_a = df_expected[columns]

In [17]:
new_df = df_expected_a.merge(retail_rfid, how='outer', left_on="Retail_Product_SKU", right_on="Retail_Product_SKU", indicator=True)
new_df.head().T

,0,1,2,3,4
Retail_Product_Color,BRANCO,ROSA,NaN,JEANS,JEANS
Retail_Product_Level1,C,C,H,C,C
Retail_Product_Level1Name,VESTUARIO,VESTUARIO,ELETRO-ELETRONICOS,VESTUARIO,VESTUARIO
Retail_Product_Level2Name,CR,CY,HZ,CY,CY
Retail_Product_Level3Name,CRB,CYA,HZB,CYA,CYC
Retail_Product_Level4Name,CRBK,CYAE,HZBO,CYAA,CYCD
Retail_Product_Name,CALCINHA CR SLO ELLA ESTAMPADO CINZA P B,BERMUDA SARJA CRN SLO INK ABERTURA BARRA,RELOGIO FEM MONDAINE PRATA KIT COLAR ANA,CALCA JEANS CF MSA INK USED TANK DIRT LI,SHORT JEANS PS PRD BARRA DOBRADA E PREGA
Retail_Product_SKU,9568860004.0,9384260002.0,9735510000.0,9579550002.0,9633210004.0
Retail_Product_Size,P,40,NaN,38,52
Retail_Product_Style,KIT CALCINHA,BOTTOM CURTO SARJA,KIT FEMININO PRATA,CALÇA JEANS,BOTTOM CURTO JEANS PLUS
Retail_SOHQTY,1.0,3.0,1.0,3.0,2.0
Retail_CCQTY,1.0,1.0,1.0,3.0,NaN
_merge,both,both,both,both,left_only

In [18]:
new_df['Retail_CCQTY'] = new_df['Retail_CCQTY'].fillna(0).astype('int')


new_df['Retail_SOHQTY'] = new_df['Retail_SOHQTY'].fillna(0).astype('int')

In [19]:
new_df['diff'] = new_df["Retail_CCQTY"] - new_df["Retail_SOHQTY"]

In [20]:
new_df.head()

,Retail_Product_Color,Retail_Product_Level1,Retail_Product_Level1Name,Retail_Product_Level2Name,Retail_Product_Level3Name,Retail_Product_Level4Name,Retail_Product_Name,Retail_Product_SKU,Retail_Product_Size,Retail_Product_Style,Retail_SOHQTY,Retail_CCQTY,_merge,diff
0,BRANCO,C,VESTUARIO,CR,CRB,CRBK,CALCINHA CR SLO ELLA ESTAMPADO CINZA P B,9.568860e+09,P,KIT CALCINHA,1,1,both,0
1,ROSA,C,VESTUARIO,CY,CYA,CYAE,BERMUDA SARJA CRN SLO INK ABERTURA BARRA,9.384260e+09,40,BOTTOM CURTO SARJA,3,1,both,-2
2,NaN,H,ELETRO-ELETRONICOS,HZ,HZB,HZBO,RELOGIO FEM MONDAINE PRATA KIT COLAR ANA,9.735510e+09,NaN,KIT FEMININO PRATA,1,1,both,0
3,JEANS,C,VESTUARIO,CY,CYA,CYAA,CALCA JEANS CF MSA INK USED TANK DIRT LI,9.579550e+09,38,CALÇA JEANS,3,3,both,0
4,JEANS,C,VESTUARIO,CY,CYC,CYCD,SHORT JEANS PS PRD BARRA DOBRADA E PREGA,9.633210e+09,52,BOTTOM CURTO JEANS PLUS,2,0,left_only,-2

In [21]:
new_df.loc[new_df["diff"] < 0, "unders"] = new_df["diff"] * (-1)
new_df.head()

,Retail_Product_Color,Retail_Product_Level1,Retail_Product_Level1Name,Retail_Product_Level2Name,Retail_Product_Level3Name,Retail_Product_Level4Name,Retail_Product_Name,Retail_Product_SKU,Retail_Product_Size,Retail_Product_Style,Retail_SOHQTY,Retail_CCQTY,_merge,diff,unders
0,BRANCO,C,VESTUARIO,CR,CRB,CRBK,CALCINHA CR SLO ELLA ESTAMPADO CINZA P B,9.568860e+09,P,KIT CALCINHA,1,1,both,0,NaN
1,ROSA,C,VESTUARIO,CY,CYA,CYAE,BERMUDA SARJA CRN SLO INK ABERTURA BARRA,9.384260e+09,40,BOTTOM CURTO SARJA,3,1,both,-2,2.0
2,NaN,H,ELETRO-ELETRONICOS,HZ,HZB,HZBO,RELOGIO FEM MONDAINE PRATA KIT COLAR ANA,9.735510e+09,NaN,KIT FEMININO PRATA,1,1,both,0,NaN
3,JEANS,C,VESTUARIO,CY,CYA,CYAA,CALCA JEANS CF MSA INK USED TANK DIRT LI,9.579550e+09,38,CALÇA JEANS,3,3,both,0,NaN
4,JEANS,C,VESTUARIO,CY,CYC,CYCD,SHORT JEANS PS PRD BARRA DOBRADA E PREGA,9.633210e+09,52,BOTTOM CURTO JEANS PLUS,2,0,left_only,-2,2.0

In [22]:
new_df["unders"] = new_df["unders"].fillna(0).astype(int)

In [23]:
new_df.sample(10)

,Retail_Product_Color,Retail_Product_Level1,Retail_Product_Level1Name,Retail_Product_Level2Name,Retail_Product_Level3Name,Retail_Product_Level4Name,Retail_Product_Name,Retail_Product_SKU,Retail_Product_Size,Retail_Product_Style,Retail_SOHQTY,Retail_CCQTY,_merge,diff,unders
2507,JEANS,C,VESTUARIO,CY,CYA,CYAD,SHORT JEANS CRN SLO INK BARRA CHUVEIRINH,9.392570e+09,40,BOTTOM CURTO JEANS,6,0,left_only,-6,6
155,BRANCO,C,VESTUARIO,C7,C7A,C7AT,SOUTIEN TG P1 RENDA BCA ADA 48 BRANCO CL,9.458340e+09,48,SOUTIEN / TOP,4,1,both,-3,3
3285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.258850e+09,NaN,NaN,0,2,right_only,2,0
782,VERMELHO,C,VESTUARIO,CJ,CJA,CJAT,SOUTIEN SNS SLO PUSH UP RENDA VERMELHO,8.222160e+09,42,SOUTIEN / TOP,1,0,left_only,-1,1
3021,NaN,H,ELETRO-ELETRONICOS,HZ,HZA,HZAI,RELOGIO M P3 ORIENT PTA MBSS1154A G2SX,8.327520e+09,NaN,MASCULINO PRATA,3,3,both,0,0
1794,VERMELHO,C,VESTUARIO,C6,C6A,C6AB,3 CALCINHAS APP TRS BIQUINI REF 51509 K2,8.878390e+09,GG,CALCINHA / BOTTOM,2,1,both,-1,1
2778,JEANS,C,VESTUARIO,CY,CYA,CYAA,CALCA JEANS BIO MARCA DE TERCEIROS Skin,9.663590e+09,46,CALÇA JEANS,1,0,left_only,-1,1
4433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.540790e+09,NaN,NaN,0,1,right_only,1,0
5162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.695220e+09,NaN,NaN,0,1,right_only,1,0
5027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.657060e+09,NaN,NaN,0,3,right_only,3,0

In [24]:
new_df.to_csv('inventory_discrepancy.csv')